body { 
    background: #000 url('fence.jpg') 50% 0; 
    font: normal normal 400 20/30px Helvetica, sans-serif;
    color: #FFF;
    text-shadow: #000 1px 1px 2px;
}

.content {
    width: 425px;
    position: absolute;
	margin: 50px auto auto 10%;
}

.content a {
    text-decoration: none;
    border-bottom: 1px solid #FFF;
    color: #FFF;
}

.attribute {
    bottom: 5px;
	right: 10px;
    position: absolute;
	color: #FFF;
	font-size: 10px;
}

p.boldish {
     color: #FFF;
     font-size: 30px;
}